<ifmodule mod_evasive20.c>
   DOSHashTableSize 3097
   DOSPageCount  50
   DOSSiteCount  100
   DOSPageInterval 10
   DOSSiteInterval  10
   DOSBlockingPeriod  10
   DOSWhitelist   127.0.0.1 
   DOSWhitelist   23.246.199.26
   DOSWhitelist   23.246.201.228
</ifmodule>
