<ifmodule mod_evasive20.c>
   DOSHashTableSize 3097
   DOSPageCount  15
   DOSSiteCount  50
   DOSPageInterval 10
   DOSSiteInterval  10
   DOSBlockingPeriod  10
   DOSWhitelist   127.0.0.1
</ifmodule>
